.login-wrapper {
  min-height: 90vh;
  display: flex;
  align-items: center;
background: url('/creambg.png') no-repeat center;
background-size: cover;

}


.login-card {
  border-radius: 20px;
  background-color: white;
   font-family: "Poppins", sans-serif;
   color: black !important;
}

.login-card:hover{
    background-color: white !important;
  transform:none;
  color: black !important;
}
.login-card:hover .ctitle {
  color: black !important;
}

.btn-primary {
  background-color: #FF6000 !important;
  border: none !important;
   font-family: "Lora", serif;
}

.form-control:focus,
.input-group .form-control:focus {
  border-color: inherit !important;
  box-shadow: none !important;
  outline: none !important;
}

.scale-text {
  display: inline-block;
  animation: scalePulse 2s infinite ease-in-out;

}

@keyframes scalePulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
}
