
.card:hover {
  transform: scale(1.01);
}

.card:hover {
  background-color: #f97316 !important; 
  transform: scale(1.07);
  color: white !important;
}
.card:hover .ctitle {
  color: white !important;
}

.service-img {
  width: 100%;         /* or a specific value like 300px */
  height: 200px;       /* fixed height */
 /* ensures the image covers the area without distortion */
  margin-top: 1rem;    /* optional spacing */
}
.card:hover .titlelogo {
  transform: translate(5px, -5px); /* X: right, Y: up */
}
.titlelogo {
  transition: transform 0.3s ease;
}

