.bggr{
    background-color: #3C3F3C;
    font-family: "Poppins", sans-serif;
     
}
.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.bggr .dropdown-menu {
  background-color: #3C3F3C !important;
  font-family: "Poppins", sans-serif !important;
}

.bggr .dropdown-menu .dropdown-item,
.bggr .dropdown-menu .dropdown-item-text {
  color: white !important;
}

.bggr .dropdown-menu .dropdown-item:hover {
  background-color: #555 !important; 
}

.bggr .dropdown-divider {
  border-top: 1px solid white !important;
  opacity: 0.5 !important; /* Ensure it's fully visible */
}

/* Make all nav links white */
.nav-link {
  color: white !important;
}

/* Brand text color */
.navbar-brand {
  color: white !important;
}

/* Offcanvas title text color */
.offcanvas-title {
  color: white !important;
}


.offcanvas {
  background-color: #3C3F3C !important;
  
}
.offcanvas-header .btn-close {
  filter: brightness(0) invert(1) !important;
    position: fixed;
    top: 6%;
    right: 4%;
}

.navbar-toggler {
  border-color: white !important;
 color: white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E" ) !important;
}

.orngebtn{
    background-color: #FF6000;
    font-family: "Poppins", sans-serif;
}

.headfnt{
 font-family: "Lora", serif;
}
.nav-link {
  color: white !important; /* default link color */
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #FF6000 !important; /* hover color */
}


.dropdown-menu.bggr .dropdown-item:hover {
  background-color: #FF6000 !important;
}

.bggr a.dropdown-item:hover {
  background-color: #FF6000 !important;
}


html, body {
  overflow-x: hidden !important;
}

body.offcanvas-open {
  padding-right: 0 !important;
}

.offcanvas-header {
  display: block !important;
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .offcanvas-header {
    display: flex !important;
  }
}